
<ul>
    <li style="float:right" class="copy"><a class='nav' href='#'> &copy;2016 - jbrozzu - </a></li>
    <li style="float:right; border-right: none;"><a class='nav' href='#'>About</a></li>
    <li style="float:right"><a class='nav' href='#'>Contact</a></li>
</ul>
