
<ul>
    <li><a class="logo" href=" ">MATCHA</a></li>
    

        <li style="float:right; border-left:1px solid #bbb;" class="copy"><a class="nav" href="signup">Signup</a></li>
        <li style="float:right; border-left:1px solid #bbb;"><a class='nav' href='#' >Login</a></li>
    

        <li><a class='nav' href='#'>Galerie</a></li>
        <li><a class='nav' href='#'>Snapshot</a></li>
        <li style="float:right"><a class='nav' href='#'>Logout</a></li>
</ul>
