body {
	padding-top: 80px;
	padding-bottom: 40px;
}



header {
	background-color: #2A4D6E;
    border-bottom: solid 3px #333;

    position: fixed;
    top: 0;
    right: 0%;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    border-right:1px solid #bbb;
}

li:last-child, .copy {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.logo) {
    background-color: #111;
}

.logo {
	background-color: #FFA500;
}

footer {
    border-top: solid 3px #333;
    position: fixed;
    bottom: 0;
    right: 0%;
    width: 100%;
}